<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.diycircuits.gpsfake"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="19" />

	<permission
		android:name="com.diycircuits.gpsfake.permission.MAPS_RECEIVE"
		android:protectionLevel="signature"/>
	
	<uses-permission android:name="com.diycircuits.gpsfake.permission.MAPS_RECEIVE"/>

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

	<uses-feature
		android:glEsVersion="0x00020000"
		android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.diycircuits.gpsfake.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <meta-data android:value="true" android:name="xposedmodule"/>
        <meta-data android:value="2.0*" android:name="xposedminversion"/>
        <meta-data android:value="GPS Fake" android:name="xposeddescription"/>

		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <meta-data
    		android:name="com.google.android.maps.v2.API_KEY"
    		android:value="AIzaSyB8UySGAYLJ8heiP3znQ9cVU03f0ZBfQl0" />
		
    </application>

</manifest>
